/*.iml
/src/GameConfig.ts
/.laya
/.laya/chrome
/bin/js/bundle.js
/bin/game.json
/bin/.rec
/bin/comp.atlas
/bin/comp.png
/bin/config.json
/bin/difference.json
/bin/fileconfig.json
/bin/game.js
/bin/weapp-adapter.js
/bin/project.config.json
/bin/project.swan.json
/bin/StartScene.json
/bin/swan-game-adapter.js
/bin/unpack.json
/.idea
/bin/login
/bin/common
/bin/scene
/tools/as2ts/common-tasks/gulpfile.js/as3-to-typescript/node_modules
/tools/as2ts/common-tasks/node_modules
/bin/petpackage
/bin/petui
/bin/petwarehouse
/bin/plugin
/bin/antiaddiction
/bin/controlbar
/bin/fighttalk
/bin/levelup
/bin/usercard
/bin/activityres
/bin/hud
/bin/material
/bin/closed
/bin/loader
/bin/secondpwd
/bin/common.atlas
/bin/common.png
/bin/petfightnew/*.scene
/tools/petfightExporter/Exporter.swf
/tools/petfightExporter/Exporter-app.xml
/tools/BreathMovieExporter/Exporter.swf
/tools/BreathMovieExporter/Exporter-app.xml
/package-lock.json
